.bg {
	background-color: #000;
}

body.filled, body.filled .bg {
	background-color: #fff;
}

#IntroScreen {
	background-color: "black";
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 10;
}

#CoverImage {
	width: 100%;
	height: 100%;
}

.fg { background-color: #fff; }
.fg-border { border-color: #fff; }
.fg-text { color: #fff; }

body.filled .fg { background-color: #000; }
body.filled .fg-border { border-color: #000; }
body.filled .fg-text  { color: #000; }

.hidden {
	display: none;
}

#room {
	position: absolute;
	top: 20%;
	left: 0%;
	width: 100%;
	height: 80%;
}

#walls {
	box-sizing: border-box;
	position: absolute;
	top: 5%;
	left: 5%;
	width: 90%;
	height: 90%;
	border-width: 5px;
	border-style: solid;
}

#exit-up, #exit-down, #exit-left, #exit-right {
	display: none;
	position: absolute;
	width: 120px;
	height: 120px;
	cursor: pointer;
}

#exit-up {
	top: 4%;
	left: 30%;
}

#room.exit-up #exit-up {
	display: block;
}

#exit-down {
	bottom: 4%;
	left: 30%;
}

#room.exit-down #exit-down {
	display: block;
}

#exit-left {
	top: 45%;
	left: 4%;
}

#room.exit-left #exit-left {
	display: block;
}

#exit-right {
	top: 45%;
	right: 4%;
}

#room.exit-right #exit-right {
	display: block;
}

.arrow-up, .arrow-down, .arrow-left, .arrow-right {
	position: absolute;
	width: 0;
	height: 0;
}

.arrow-up {
	left: 30px;
	border-left: 30px solid transparent;
	border-right: 30px solid transparent;
	border-bottom: 30px solid #fff;
}

body.filled .arrow-up {
	border-bottom-color: #000;
}

.arrow-down {
	bottom: 0;
	left: 30px;
	border-left: 30px solid transparent;
	border-right: 30px solid transparent;
	border-top: 30px solid #fff;
}

body.filled .arrow-down {
	border-top-color: #000;
}

.arrow-left {
	left: 0;
	top: 30px;
	border-top: 30px solid transparent;
	border-bottom: 30px solid transparent; 
	border-right: 30px solid #fff;
}

body.filled .arrow-left {
	border-right-color: #000;
}

.arrow-right {
	right: 0;
	top: 30px;
	border-top: 30px solid transparent;
	border-bottom: 30px solid transparent;
	border-left: 30px solid #fff;
}

body.filled .arrow-right {
	border-left-color: #000;
}

#altar {
	position: absolute;
	bottom: 10vh;
	left: 45vw;
	width: 10vw;
	height: 10vw;
	border-radius: 50%;
}

#message {
	position: absolute;
	top: 20%;
	left: 20%;
	width: 60%;
	height: 30%;
	text-align: center;
	font-size: 5vh;
}

#password {
	position: absolute;
	top: 53%;
	left: 20%;
	width: 60%;
	height: 60px;
	font-size: 40px;
	border-color: black;
	border-width: 2px;
	padding: 10px;
	text-align: center;
}

#map {
	position: absolute;
	top: 2vw;
	right: 2vw;
	width: 30vw;
	height: 30vh;
}

.map-room {
	position: relative;
	float: left;
	width: 9vw;
	height: 9vh;
	text-align: center;
	border-width: 0.5vw;
	border-style: solid;
}

.map-room.active, body.filled .map-room.active {
	background-color: red;
}

.map-room-altar {
	position: absolute;
	bottom: 10%;
	left: 3.75vw;
	width: 1.5vw;
	height: 1.5vw;
	border-radius: 50%;
}

#video-prompt {
	position: absolute;
	width: 100%;
	height: 100%;
	object-fit: cover;
	z-index: 5;
	top: 0;
	left: 0;
	background-color: black;
	text-align: center;
}

#video-prompt-msg {
	margin: 10vh 10vw;
	font-size: 5vh;
	color: white;
}

#video-prompt-light {
	width: 30vw;
	height: 30vw;
	animation: pulse 2.3s ease-in-out infinite;
}

@keyframes pulse {
  0% {
		transform: scale(1);
  }
  50% {
		transform: scale(1.4);
  }
  100% {
		transform: scale(1);
  }
}

#video {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0%;
	left: 0%;
	background-color: black;
}

#video-player {
	position: absolute;
	transform: rotate(90deg);
	transform-origin: bottom left;
	width: 100vh;
	height: 100vw;
	object-fit: cover;
	z-index: 4;
	visibility: visible;
	margin-top: -100vw;
	top: 0%;
	left: 0%;
}

#EndScreen {
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	position: absolute;
	z-index: 20;
}

#EndImage {
	width: 100%;
	height: 100%;
}
